@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.header {
  background-color: var(--header-footer-bg);
  padding: 10px;
  width: 100%;
  text-align: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  background-color: var(--header-footer-bg);
  padding: 10px;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.header h1 {
  font-size: 2rem;
  margin: 0;
}
